.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: flex-start;*/
    align-content: flex-start;
    background-color: blue;
}

.large {
    width: $smallCellSize * $largeBoardWidth;
    height: $smallCellSize * $largeBoardHeight;
}
/*
.medium {
    width: (2 + $mediumCellSize) * $mediumBoardWidth ;
    height:(1 + $mediumCellSize) * $mediumBoardHeight + 1;
}
*/
.medium {
    width: 300px;
    
}
.small {
    width: $largeCellSize * $smallBoardWidth;
    height: $largeCellSize * $smallBoardHeight;
}

		       
.row {
    display: flex;
    flex-direction: column;
    background-color: red;
    height: 100%;
    width: 100%;
    /*margin: 3px;*/
}
