.cell {
    outline: 1px solid #d3d3d3;
    background-color: white;
    /*width: $mediumCellSize;
    height: $mediumCellSize;*/
    width: calc(100% / 30);
    height: 10px;
    margin: 0px;
    
}

.alive {
    background-color: green;
}
