.controls {
    width: 350px;
    background-color: yellow;
    margin-right: 30px;
}

.sections {
    display: flex;
    flex-direction: column;
    margin:30px;
    width: 100%;
    font-size: 30px;

    .buttons {
	display: flex;
	flex-direction: row;
    }
    
    
    button {
    }

}

@media (max-width: 1200px) {
    .controls {
	width: 800px;
	height: 150px;
	min-height: 150px;
	max-height: 150px;
	margin: 20px 0px 20px 0px;;
    }
    .sections {
	display: flex;
	flex-direction: row;
	margin: 0px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 20px;
	background-color: orange;
    }
}

