.controls {
    width: 350px;
    background-color: #8b93a5;
    margin-right: 10px;
}

.sections {
    display: flex;
    flex-direction: column;
    margin:30px;
    margin-left: 20px;
    width: 100%;
    font-size: 30px;

    .buttons {
	display: flex;
	flex-direction: row;
    }
}
        
button {
    border: none;
    border-radius: 3px;
    box-shadow: 0px 5px 0px #164563;
    font-family: Arial;
    color: #efefef;
    font-size: 15px;
    background: #215f86;
    padding: 5px 8px 5px 8px;
    text-decoration: none;
    margin: 3px;
}

button:hover {
  background: #21867b;
  text-decoration: none;

}

button:active {
    background: #215f86;
}


@media (max-width: 1200px) {
    .controls {
	width: 800px;
	height: 150px;
	min-height: 150px;
	max-height: 150px;
	margin: 20px 0px 20px 0px;;
    }
    .sections {
	display: flex;
	flex-direction: row;
	margin: 0px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 20px;
	background-color: orange;
    }
}

