$largeCellSize: 20px;
$mediumCellSize: 10px;
$smallCellSize: 5px;

$largeBoardWidth: 100;
$largeBoardHeight: 60;

$mediumBoardWidth: 30;
$mediumBoardHeight: 30;

$smallBoardWidth: 30;
$smallBoardHeight: 30;


