@import './partials/_globals';
@import './partials/_board';
@import './partials/_cell';
@import './partials/_controls';


body {
    background-color: gray;
}

.header {
    width: 100%;
    height: 80px;
    background-color: orange;
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
}

