@import './partials/_globals';
@import './partials/_board';
@import './partials/_cell';
@import './partials/_controls';


body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.header {
    height: 80px;
    background-color: orange;
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

    background-color: red;
    top: 90px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /*flex: 1;*/

}

